<div class="flex mb-4">
  <div class="mr-2">
    <p>User:</p>
    <p>Created:</p>
  </div>
  <div>
    <p><%= @user.name %></p>
    <p><%= distance_of_time_in_words(@user.created_at, Time.zone.now) %> ago</p>
    <div class='mt-2'>
      <p><%= link_to "comments", user_comments_path(@user), class: "underline" %></p>
      <p><%= link_to "upvoted", user_upvoted_posts_path(@user), class: "underline" %></p>
    </div>
  </div>
</div>

