<ul>
<% @posts.each do |post| %>
  <li>
    <div class="flex items-start">
      <div class="text-xl text-gray-500 mr-1">&#9650;</div>
      <div class="mb-3">
        <%= link_to post.title, post.url %> 
        <span class="text-gray-500 text-base">
          (<%= link_to post.website.website_host, website_posts_path(post.website) %>)
        </span>
        <div class="text-sm text-gray-500">
          59 points by indiefeeds 58 minutes ago | 9 comments
        </div>
      </div>
    </div>
  </li>
<% end %>
<ul>

<%== pagy_nav(@pagy) %>
